/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

.logo {
  width: 30px;
}

.home-header {
  background-color: #efe7dd;
  text-align: center;
  padding: 80px;
}

.home-header h1 {
  font-style: italic;
  font-size: 85px;
}

.home-header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-main {
  background-color: #764b36;
}
