:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Roboto", sans-serif;
  --brand-primary-color: #d8a790;
  --brand-secondary-color: #764b36;
  --secondary-background-color: #efe7dd;
}

body,
p {
  font-family: var(--body-font-family);
  font-weight: 100;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

.logo {
  width: 30px;
}

.home-header {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 120px;
}

.home-header h1 {
  font-style: italic;
  font-size: 85px;
}

.home-header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-branding {
  background: var(--brand-primary-color);
  color: var(--brand-secondary-color);
  border-radius: 4px;
}
